$red: rgb(199, 69, 69);
$red2: rgb(170, 59, 59);
$green: rgb(89, 175, 86);
$blue: #448ece;
$blue2: #3d80b9;
$greyDark:#4d4949;
$grey: #585960;
$greyLight:rgb(219, 210, 210);
$pinkLight:rgb(212, 116, 204);
